VITE_REACT_ENV=Development

VITE_API_URL_DEV = http://localhost:8888/api
VITE_UPLOAD_URL_DEV = http://localhost:8888
VITE_DOWNLOAD_BASE_URL_DEV = http://localhost:8888/download

VITE_API_URL_PROD = 
VITE_UPLOAD_URL_PROD = 
VITE_DOWNLOAD_BASE_URL_PROD = 